#body{
  position: relative;
  left: 10%;
}
#resulttext{
  position: absolute;
  right: 50%;
  top: 40%;
  transition: 1s;
  font-weight: bold;
  font-size: 40px;

}
#resultbut{
  position: absolute;
  right: 40%;
  top: 41%;
  transition: 1s;
  font-weight: bold;
  font-size: 20px;
}

.chengfen {
  position: relative;
}
.txt {
  position:absolute;
  font-size: 100px;
  z-index: 10;
  width: 100%;
  text-align: center;
  top: 450px;
  color: blueviolet;
  font-weight: bolder;
}
.txt~img{
  width: 0px;
  position: relative;

}
.txt:hover~img {
  transform: rotate(360deg);
  transition: 1.2s;
  height: 100vh;
  width: 170vh;
  object-fit: cover;
}
.txt~img:hover{
  transform: rotate(360deg);
  transition: 1.2s;
  height: 100vh;
  width: 170vh;
  object-fit: cover;
}
.end{
  position:fixed;
  opacity: 0;
  right: 5px;
  bottom: 0;
  transition: 0.5s;
}
.end a{
  text-decoration: none;

}
.end:hover{
  opacity: 1;

}
@media screen and (max-width : 768px) {
  #resultbut{
    position: absolute;
    right: 40%;
    top: 8%;
    transition: 1s;
    font-weight: bold;
    font-size: 20px;
  }
  #resulttext{
    display: none;
  }
}